html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --head-l: 3rem;
  --head-m: 2rem;
  --head-s: 1rem;
  --head-xs: 0.8rem;

  --p-l: 1rem;
  --p-m: 0.9rem;
  --p-s: 0.7rem;

  --light-gray-color: #444;
  --light-black-color: #111;

  --nav-link-fs: var(--head-s);
  --nav-link-color: var(--light-gray-color);

  --contact-icon-color: var(--light-black-color);
  --contact-icon-text-color: #666;

  --project-card-title-color: var(--light-gray-color);
  --project-card-desc-color: var(--light-black-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  } */
}
